/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colores =====*/
:root{
  --first-color: #4070F4;
  --second-color: #282B80;

  --Cortez01: #E8B110;
  --Cortez02: #F93D1C;
  --Cortez03: #888594;
  --Cortez04: #F3FCF3;
  --Cortez05: #f3fcf362;
}

/*===== Fuente y tipografia =====*/
:root{
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px){
  :root{
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margenes =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
h1,h2,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--second-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after{
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--Cortez03);
}
.section{
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--Cortez04);
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: .5s;
  }
}
.nav__item{
  margin-bottom: var(--mb-4);
}
.nav__link{
  position: relative;
  color: #fff;
}
.nav__link:hover{
  position: relative;
}
.nav__link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--second-color);
}
.nav__logo{
  color: var(--second-color);
}
.nav__toggle{
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--second-color);
}

/*=== Show menu ===*/
.show{
  right: 0;
}
.l-main{
  background-color: var(--Cortez01);
}
/*===== HOME =====*/
.home{
  height: calc(100vh - 3rem);
  row-gap: 1rem;

}
.home__data{
  align-self: center;
}
.home__title{
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}
.home__title-color{
  color: var(--first-color);
}
.home__social{
  display: flex;
  flex-direction: column;
}
.home__social-icon{
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}
.home__social-icon:hover{
  color: var(--first-color);
}
.home__img{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 295px;
}

/*BUTTONS*/
.button{
  display: inline-block;
  background-color: var(--second-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
}
.button:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
}

/* ===== ABOUT =====*/
.about{
  background-image: url('/assets/img/bk-motocycle.jpg');
  background-position-x: 26%;
  height: 350px;
  opacity: 0.9;
  box-shadow: 0px 0px 50px rgba(0,0, 0, 0.5) inset;
}

#about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about h2,p{
  text-align: center;
}
.my-grid{
  z-index: 2;
}
.about__container{
  row-gap: 2rem;
  text-align: center;
}
.about__subtitle{
  margin-bottom: var(--mb-2);
}
.about__img{
  justify-self: center;
}
.about__img img{
  width: 200px;
  border-radius: .5rem;
}
.about-women{
  background-image: url('/assets/img/women-helmet.jpeg');
  background-position-x: 26%;
  background-size: cover;
  height: 350px;
  opacity: 0.9;
  box-shadow: 0px 0px 50px rgba(0,0, 0, 0.5) inset;
}
.about-kids{
  background-image: url('/assets/img/kid-helmets.jpg');
  background-position-x: 26%;
  background-size: cover;
  background-position: center;
  height: 350px;
  opacity: 0.9;
  box-shadow: 0px 0px 50px rgba(0,0, 0, 0.5) inset;
}
/* Adding background design */


/* ===== Productos =====*/
.work__container{
  row-gap: 2rem;
}
.work__img{
  background-color: var(--Cortez05);
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.212);
  border-radius: .5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.work__img h4{
  position: relative;
  top: 2rem;
  text-align: center;
  font-size: 16px;
}
.work__img img{
  transition: 1s;
  cursor: pointer;
}
.work__img #asia{
  transform: scale(0.7);
}
.work__img #asia:hover{
  transform: scale(1.0);
}
.work__img img:hover{
  transform: scale(1.1);
}


a.button-detalle{
  display:inline-block;
  padding: .7rem .5rem;
  border:0.16em solid rgba(255,255,255,0);
  font-family:'Montserrat',sans-serif;
  font-weight:300;
  color: #FFFFFF;
  background-color: var(--second-color);
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
}

/* ===== CONTACT =====*/
.contact__input{
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}
.contact__button{
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

/* ===== FOOTER =====*/
.footer{
  background-color: var(--Cortez04);
  color: var(--second-color);
  text-align: center;
  font-weight: var(--font-semi);
  padding: 1.5rem 0;
}
.footer__title{
  font-size: 1.5rem;
  margin: 0rem 0.5rem;
}
.footer__social{
  margin-bottom: var(--mb-4);
}
.footer i{
  font-size: 3rem;
}
.footer p{
  margin-top: 1rem;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  .section{
    padding-top: 3.5rem;
    padding-bottom: 2.5rem;
  }
  .section-title{
    margin-bottom: var(--mb-6);
  }
  .section-title::after{
    width: 80px;
    top: 3rem;
  }

  .nav{
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list{
    display: flex;
    padding-top: 0;
  }
  .nav__item{
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }
  .nav__link{
    color: var(--second-color);
  }

  .home{
    height: 100vh;
  }
  .home__data{
    align-self: flex-end;
  }
  .home__social{
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon{
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img{
    width: 457px;
    bottom: 15%;
  }

  .about__container, .skills__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }
  .about__img img{
    width: 300px;
  }
  .work__container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
  }
  .contact__form{
    width: 360px;
  }
  .contact__container{
    justify-items: center;
  }
  .container-detail .card-detail{
    margin-top: 5rem;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    padding: 1.5rem;
  }
}

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
  .home__img{
    right: 10%;
  }

}


/* Details section */
.container-detail{
  max-width: 60rem;
  min-height: 30rem;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card-detail{
  background-color: var(--Cortez05);
  border-radius: 6px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  position: relative;
}
.prev,.next{
  cursor: pointer;
  position: absolute;
  width: auto;
  top: 53%;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.imgs-detail{
  display: none;
}
.imgs-detail img{
  width: 240px;
  vertical-align: middle;
}
.text-description h2{
  text-align: center;
}

/* Attention schedule */
.schedule{
  text-align: start;
}

.schedule__box{
  color: white;
  background-color: var(--second-color);
  margin-bottom: 1.5rem;
  padding: 2rem;
  border-radius: 6px;
}
.text-schedule{
  text-align: left;
}
#title-sche{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  font-size: 19px;
  font-weight: 600;
}
#location{
  padding: 2rem 0;
  text-align: center;
}

/* location */ 
.wrapper-map{
  position: relative;
  padding-bottom: 75%;
  height: 70%;
  overflow: hidden;

}
.wrapper-map iframe{
  position: absolute;
  top: 0;
  left: 2.5%;
  width: 95% !important;
  height: 100% !important;
  border-radius: 6px;
}